:root {
  --restaurant-font-color: #F4CE14;
  --restaurant-bg-color: #495E57;
  --category-bg-color: #EDEFEE;
}

.minus {
  /* background-color: #dc3545; */
  background-color: var(--restaurant-font-color);
  width: 20px !important;
  height: 25px !important;
  color: black;
  font-weight: bold;
}

.plus {
  /* background-color: #198754; */
  background-color: var(--restaurant-bg-color);
  width: 20px !important;
  height: 25px !important;
  color: var(--category-bg-color);
  font-weight: bold;
}

.App {
  text-align: center;
}

html::-webkit-scrollbar {
  display: none;
}

.logo-main {
  overflow: hidden;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.flex-evenly {
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex-1 {
  flex: 1;
}

.flex-5 {
  flex: 5;
}

.list-style-none {
  list-style: none;
}

.font-white {
  font-weight: bold;
  color: whitesmoke !important;
}
header{
  position: sticky;
  top:0;
}
footer {
  position: sticky;
  bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.lil-lemon-highlight h2 {
  color: var(--restaurant-font-color);
}

.lil-lemon-highlight h4,
.lil-lemon-highlight p {
  color: white;
}

.lil-lemon-highlight {
  background-color: var(--restaurant-bg-color);
  padding: 0.5rem;
}

.reserve-table {
  background-color: var(--restaurant-font-color);
  color: black;
  border-radius: 20px;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
}

.categories {
  row-gap: 0.75rem;
}

.categories h4 {
  text-transform: uppercase;
}

.categories ul {
  overflow-x: auto;
  column-gap: 1rem;
  white-space: nowrap;
}

.categories ul::-webkit-scrollbar {
  display: none;
}

.category {
  background-color: var(--category-bg-color);
  color: var(--restaurant-bg-color);
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dishes {
  padding: 0.5rem;
  row-gap: 0.8rem;
}

.dish-card {
  border-radius: 0.3rem;
  padding: 0.5rem !important;
  -webkit-box-shadow: 2px 2px 13px 3px rgba(73, 94, 87, 0.79);
  -moz-box-shadow: 2px 2px 13px 3px rgba(73, 94, 87, 0.79);
  box-shadow: 2px 2px 13px 3px rgba(73, 94, 87, 0.79);
  background-color: var(--category-bg-color);
}

.dish-row {
  max-height: 70px;
  height: 70px;
  overflow: hidden;
}

.dish-card>div:nth-child(1) {
  background-color: var(--restaurant-bg-color);
  color: var(--restaurant-font-color);
  margin: -0.5rem -0.5rem 0 -0.5rem;
  border-radius: 0.3rem 0.3rem 0 0;
}
#booking-form{
  padding: 1rem;
}
.App-link {
  color: #61dafb;
}
.submit-div{
  width: 100vw;
  position: absolute;
  bottom: 5%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}